.MuiOutlinedInput-input {
  font-size: 14px;
  padding: 0px 14px;
  height: 32px;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #4096ff !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}

.MuiInputBase-root {
  height: 32px;
}
.MuiInputBase-root input {
  padding-right: 0px !important;
}
.MuiInputBase-input {
  padding: 0px 14px !important;
  font-size: 14px !important;
}

.MuiMenuItem-root {
  font-size: 14px !important;
}
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #4096ff !important;
}
.MuiOutlinedInput-root:not(.Mui-error, .Mui-focused) .MuiOutlinedInput-notchedOutline {
  border-color: #7575753e !important;
}

.MuiOutlinedInput-root:not(.Mui-error):hover .MuiOutlinedInput-notchedOutline {
  border-color: #4096ff !important;
}

/* Change the row height for all table rows */
.ant-table-tbody > tr > td {
  height: 50px; /* Adjust the height as needed */
  line-height: 10px; /* Adjust the line height to vertically center content */
  white-space: nowrap;
}

.custom-table .left-aligned {
  text-align: left !important;
}

.custom-table .center-aligned {
  text-align: center;
}
.custom-table .right-aligned {
  text-align: right;
}
.ant-table-column-sorters {
  text-align: center;
}
/* table tittle hover effect disable */

/* .ant-table-column-sorters:hover {
  pointer-events: none !important;
} */

/* .ant-tooltip {
  display: none !important;
} */

/* end of table tittle hover effect disable */

.ant-pagination-options-quick-jumper {
  color: #4096ff00 !important;
  margin-left: -35px !important;
  display: flex !important;
  align-items: center !important;
}
.ant-pagination {
  width: max-content !important;
  margin-inline-start: auto !important;
  margin-right: 120px !important;
}

/* main table responsive  */

@media (max-height: 1080px) {
  .custom-table .ant-table-body {
    max-height: 650px !important;
    overflow-y: auto !important;
  }
}

@media (max-height: 900px) {
  .custom-table .ant-table-body {
    max-height: 470px !important;
    overflow-y: auto !important;
  }
}

/* end of main table responsive  */
